language: python
python:
  - "3.3"
  - "2.7"
services:
  - mongodb
  - redis
install:
  - "pip install --ignore-installed tornado"
  - "pip install --ignore-installed jinja2"
  - "pip install --ignore-installed sqlalchemy"
  - "pip install --ignore-installed redis"
  - "pip install --ignore-installed pymongo"
  - "pip install --ignore-installed kotoba"
  - "pip install --ignore-installed imagination"
  # Install the dev version of Imagination
  #- "git clone https://github.com/shiroyuki/Imagination.git && cd Imagination && make install && cd ../"
  # Install the dev version of Tori
  #- "git clone https://github.com/shiroyuki/Tori.git ToriTesting && cd ToriTesting && make install && cd ../"
script: "make TEST_FLAGS='ut ut/db ft/ ft/db' test_travis"
