<!doctype html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <p>Request at [{{ uri }}]</p>
    <p id="test"></p>
    <p>&copy; Juti Noppornpitak / Shiroyuki Studio.</p>
    <script type="text/javascript" src="http://fuyu.shiroyuki.com:3000/js/jquery.js"></script>
    <script type="text/javascript" src="http://fuyu.shiroyuki.com:3000/js/core.js"></script>
    <script type="text/javascript" src="http://fuyu.shiroyuki.com:3000/js/taifu.js"></script>
</body>
</html>