<?xml version="1.0" encoding="utf-8"?>
<application>
    <server>
        <port>8000</port>
    </server>
    <routes>
        <controller class="app.controller.main.MainController" pattern="/"/>
        <resource location="resources" pattern="/resources(/.*)" cache="true"/>
    </routes>
    <services>
        <renderer type="tori.renderer.DefaultRenderer" package="app.views">app.controller.main.MainController</renderer>
    </services>
</application>