<?xml version="1.0" encoding="utf-8"?>
<application>
    <server>
        <port>8000</port>
    </server>
    <routes>
        <route type="controller" pattern="/">app.controller.main.MainController</route>
    </routes>
    <services>
        <renderer type="tori.renderer.DefaultRenderer" package="app.views">app.controller.main.MainController</renderer>
    </services>
</application>