<?xml version="1.0" encoding="utf-8"?>
<application>
    <server>
        <port>8000</port>
    </server>
    <routes>
        <controller class="demo.app.controller.main.MainController" pattern="/"/>
        <resource location="resources" pattern="/resources(/.*)" cache="true"/>
        <redirection destination="http://shiroyuki.com" pattern="/about-shiroyuki"/>
    </routes>
    <services>
        <renderer type="tori.renderer.DefaultRenderer" package="demo.app.views">demo.app.controller.main.MainController</renderer>
    </services>
</application>